<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Usuário</title>
</head>
<body>
    <h1>Criar Usuário</h1>
    <form action="/create" method="post">
        <input type="text" name="name" placeholder="Nome" required>
        <input type="text" name="description" placeholder="Descrição">
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>