<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Produto</title>
</head>
<body>
    <h1>Criar Produto</h1>
    <form action="/produtos/criar" method="post">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="text" name="preco" placeholder="Preco" required>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>