<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remover Produto</title>
</head>
<body>
    <h1>Você tem certeza que deseja remove-lo?</h1>
    <form action="/produtos/remover/<%= produtoID %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Remover</button>
    </form>    
</body>
</html>