<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pedidos</title>
</head>
<body>
  <p>ID: <%= pedido.pedido_id %></p>
  
  <p>Itens:
    <ul>
      <% pedido.itens.forEach(item => { %>
        <li><%= item.produto.nome %></li>
      <% }); %>
    </ul>
  </p>
  
  <p>Total: <%= pedido.total %></p>

  <a href="/pedidos/remover/<%= pedido.pedido_id %>">Remover pedido</a>
</body>
</html>
