<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pedidos</title>
</head>
<body>
  <p>ID: <%= pedido.pedido_id %></p>
  <p>Itens: <%= pedido.itens %></p>
  <p>Total: <%= pedido.total %></p>

  <a href="/pedidos/remover/<%= pedido.pedidoID %>">Remover pedido</a>
</body>
</html>
